#main { min-height: 300px; }

.wrapper {
    overflow: hidden;
}

.section {
    width: 280px;
    margin-right: 10px;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    padding: 14px;
    font-size: 12px;
    margin-bottom: 15px;
    background: #fff;
}

/*.section:nth-child(3n) {
    margin-right: 0;
}
*/
.section .settings,
.section .close,
.section .save { float: right; position: relative; top: -15px; }
.section .settings a { text-decoration: none; }

.section .options { margin-left: 0; }
.section .options li { list-style-type: none; margin-bottom: 10px; }
.section .options input { margin-right: 5px; }

aside .section { color: #444 }
aside .section .grip { background-color: #c6c6c6; }


#main.wrapper .section header .title {
    margin: 15px 0;
    padding: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.section h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.section img { float: left; width: 150px; margin-right: 15px; }

.sidebar .section img { width: 50px; margin-right: 5px; }

.section .body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.section article header {
    margin: 0;
    padding: 0;
}

.grip { height: 8px; background-color: #F16529; position: absolute; top: 0; left: 0; width: 100%; }

.stash { display: none; }

.mouse { position: absolute; background: url(images/cursor.png) center center no-repeat; width: 15px; height : 22px }